<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>

<form th:action="@{/books/edit/{id}(id=${book.id})}" method="post" th:object="${book}">
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}"><br>
    <label for="place">Place:</label>
    <input type="text" id="place" th:field="*{place}"><br>
    <label for="isRented">Is Rented:</label>
    <input type="checkbox" id="isRented" th:field="*{isRented}"><br>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}"><br>
    <label for="returnDate">Return Date:</label>
    <input type="date" id="returnDate" th:field="*{returnDate}"><br>
    <button type="submit">Update Book</button>
</form>
</body>
</html>